
.item-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
  }
  
  .greeting-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #bc9e2c;
    text-align: center;
  }
  .fondo {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
    padding-top: 20px;
  }
